@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  @apply box-border bg-black text-white;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar:horizontal {
  height: 8px;
}

::-webkit-scrollbar-thumb {
  @apply rounded-xl bg-sky-900 hover:cursor-grab;
}

.task > ::-webkit-scrollbar-thumb {
  @apply rounded-xl bg-sky-500;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-150%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slideInFromLeft {
  animation: slideInFromLeft 1s ease forwards; /* Justera tiden och easing som behövs */
}
